**/*.pyc
**/__pycache__/
*.egg-info/
*.log
.eggs/
.git
.idea
.ipynb_checkpoints
.pytest_cache/*
.venv*/
.virtualenv*/
cache/*
casa.log
cwl/cache/*
cwl/output/*
cwl/tmp/*
data/
dist/
notebooks/
test/param.npy
tmp/*
